.card__actions {
  border-top: 1px solid rgb(213, 213, 213);
}

.card__butons {
  padding-top: .3rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}
