<div fxLayout="row" fxLayoutAlign="center">

  <div fxLayout="column" class="frm__container width-100">
    <form #clientesFrm="ngForm" (ngSubmit)="salvarCliente()">
        <mat-card>

          <mat-card-header>
            <mat-card-title>Dados Pessoais</mat-card-title>
          </mat-card-header>

          <mat-card-content>
            <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="16px">
              <mat-form-field class="width-100">
                <mat-label>Nome: *</mat-label>
                <input type="text" name="nome" placeholder="Mariana Ribeiro" matInput [(ngModel)]="cliente.nome">
              </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="16px">
              <mat-form-field class="width-100">
                <mat-label>E-mail: *</mat-label>
                <input type="email" name="email" placeholder="mariana@email.com" matInput [(ngModel)]="cliente.email">
              </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="16px">
              <mat-form-field class="width-60">
                <mat-label>CPF: *</mat-label>
                <input type="text" name="cpf" matInput [(ngModel)]="cliente.cpf">
              </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="16px">
              <mat-form-field>
                <mat-label>Data Nascimento: *</mat-label>
                <input name="dataNascimento" matInput [matDatepicker]="picker" [(ngModel)]="cliente.dataNascimento" readonly>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>
          </mat-card-content>

          <mat-card-actions class="card__actions">
            <div class="card__butons">

              <button mat-flat-button color="primary" type="submit">
                <mat-icon fontIcon="save"></mat-icon>Salvar
              </button>

              <button mat-flat-button color="primary">
                <mat-icon fontIcon="edit"></mat-icon>Atualizar
              </button>

              <button mat-flat-button color="accent" type="reset">
                <mat-icon fontIcon="backspace"></mat-icon>Limpar
              </button>

            </div>
          </mat-card-actions>

        </mat-card>
    </form>
  </div>

</div>
