html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.width-100 {
  width: 100%;
}

.width-60 {
  width: 60%;
}

.mt-1 {
  margin-top: 1rem;
}
